<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'character')}">

<body>

<div class="container">
    <h1 class="my-4">Search Results</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" th:each="character : ${characters}">
            <div class="card h-100">
                <img class="card-img-top" th:src="${character.image}" alt="Character Image">
                <a th:href="@{'/detail?id=' + ${character.id}}" class="btn btn-primary"  >View details</a>
                <div class="card-body">
                    <h4 class="card-title" th:text="${character.name}">Character Name</h4>
                    <p class="card-text" th:text="'Status: ' + ${character.status}">Status</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Paginación -->
<div th:if="${info.pages > 1}">
    <nav>
        <ul class="pagination">

            <li th:each="pageNum : ${#numbers.sequence(1, info.pages)}"
                th:class="${pageNum} == ${info.next} ? 'page-item active' : 'page-item' ">
                <a class="page-link" th:href="@{/character/find/results(name=${name}, page=${pageNum})}" th:text="${pageNum}">1</a>
            </li>

        </ul>
    </nav>
</div>
    <a class="btn btn-primary" href="/character/find">Back to search</a>


</body>
</html>