<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'episode')}">
<body>
<div class="container mt-5">
    <h2>Search Episodes</h2>
    <form action="/episode/find/results" method="get" class="form-inline">
        <div class="form-group mb-2">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Episode Name" oninput="toggleFields()">
        </div>
        <div class="form-group mb-2">
            <label for="episode" class="sr-only">Episode</label>
            <input type="text" class="form-control" id="episode" name="episode" placeholder="Episode" oninput="toggleFields()">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>


</div>

<script>
    function toggleFields() {
        var nameField = document.getElementById("name");
        var episodeField = document.getElementById("episode");
        if (nameField.value) {
            episodeField.disabled = true;
        } else if (episodeField.value) {
            nameField.disabled = true;
        } else {
            nameField.disabled = false;
            episodeField.disabled = false;
        }
    }
</script>

</body>
</html>
